/Output/*.d							#忽略整个output文件下所有后缀为.d的文件
/Output/*.o
/Output/*.crf
/Output/*.lst
/Output/*.hex
/Output/*.lnp
/Output/*.map
/Output/*.sct							
/Output/*.htm
/Output/*.build_log.htm
/Project/*.htm
/Project/*.uvgui.Administrator
/Project/*.uvgui_Administrator
/Project/*.dep
/Project/*.bak
/Project/*.txt
/Project/*.ini
/Project/*.uvgui_Administrator.bak


