*.crf
*.d
*.o
*.axf
*.htm
*.lnp
*.map
*.sct
*.lst
/Project/*.htm
/Project/*.uvgui.Administrator
/Project/*.uvgui_Administrator
/Project/*.dep
/Project/*.bak
/Project/*.txt
/Project/*.ini
/Project/*.uvgui_Administrator.bak


